.dashboard {
    display: flex;
    color: black;
    position: relative;
}

.dashboard > div {
    flex: 4;
}

.dashboard .context{
    overflow-y: scroll;
    height: 100vh;
}

.AddCard{
    font-weight: 700;
    display: grid;
    place-items: center;
}