.form{
    border: 1px solid black;
    display: flex;
    justify-content: center;
    height: 100vh;
}

form{
    color: black;
    width: 50%;
    padding: 2rem;
    box-shadow: 2px 2px 5px black;
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color:lightblue;
}

form .textinput, form select{
    width: 20vw;
    height: 6vh;
    font-size: 1rem;
    border-radius: 4px;
    outline: none;
    border: none;
}

form .textinput{
    padding-left: 10px;
}

.input{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

form button{
    align-self: start;
}